.intro-text {
	opacity: 0.5;
  font-size: 1rem;
	text-align: center;
}

.app-container {
	height: var(--app-height, 100vh);
	display: flex;
	flex-direction: column;
	max-width: 70vw;
	margin-left: auto;
	margin-right: auto;
}

button {
	border: none;
	padding: 10px 20px;
	margin-left: 8px;
	border-radius: 10px;
	font-size: 15px;
	cursor: pointer;
	height: 100%;
}

@media (max-width: 768px) {
	.app-container {
		height: var(--app-height, 100vh);
		display: flex;
		flex-direction: column;
		max-width: 90vw;
		margin-left: auto;
		margin-right: auto;
	}

  button {
    border: none;
    padding: 0px 12px;
    margin-left: 8px;
    border-radius: 10px;
    font-size: 0.75rem;
    cursor: pointer;
    height: 100%;
  }
  .intro-text {
    font-size: 0.75rem;
  }
}
